body{
    background-color: rgb(204, 57, 57);
    margin: 0;
    overflow-x: hidden;
}

.page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #FFFFFF;
    padding: 5px 40px 0 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.email{
    padding-left: 40px;
}
.upHeader{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    align-items: center;
}
.downHeader{
    background-color: #00009F;
    display: flex;
    margin-left: 20px;
    color: #FFFFFF;
    max-width: 100%;
    overflow-x: scroll;
}
.downHeader h2{
    margin-left: 3rem;
    margin-right: 3rem;
}
.middle{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 45vh;
}
.carousel{
    grid-column-start: 1;
    grid-column-end: 5;
}
.carousel img{
  width: 100%;
  max-height:500px;
  object-fit: cover;
}
.imgTogether{
    display: flex;
}
.certiTeac{
    background-color: darkblue;
}
.specAtten{
    background-color: darkgoldenrod;
}
.book{
    background-color: darkblue;
}
.courses{
    grid-column-start: 1;
    grid-column-end: 5;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 5;
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
div i {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}
.description{
text-align: center;
color: white;

}
.description p{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 25px;
}
.description h3{
  margin-top: 40px;
}
.courses{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.course{
  max-width: 450px;
  margin: 50px 20px;
}
.course img{
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}
.course h3{
  margin-top: 50px;
  margin-bottom: 20px;
}
.course p{
  text-align: justify;
}
.footer{
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  background-color:#3a3737 ;
  padding: 40px;
}
.head{
  text-align: center;
  padding: 10px;
}
.foot{
  color: white;
  margin: 20px 15px;
}
.foot i{
  font-size: 20px;
  margin: 0 15px;
}
.part{
  display: flex;
}
.map{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.link{
  width: 100px;
}